@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 700%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.one{
    height: 16%;
    width: 100%;
    
    text-align: center;
    
    
    
}
.two{
    
    height: 330%;
    width: 19%;
    top: 3%;
    margin-top: 4%;
    margin-left:2% ;
    background-image: url(template0.png);
    background-size: cover;
padding-right: 48%;
    
}


.intro{
    height: 90%;
    width: 40%;
    position: absolute;
    
    right: 0%;
}
.intro p{
    font-size: 1.7vw;
    
    
    padding-top: 12%;

    
    text-align: left;
    position: absolute;
}
.tag{
    height: 65%;
    width: 36vw;
    
    background-image: url(recruitment-agency-concept-isolated-candidate-resume-search-human-resources-people-scene-flat-cartoon-design-vector-illustration-blogging-website-mobile-app-promotional-materials_9209-6545.avif);
background-size: cover;
padding-top: 3%;
background-position: center;
position: absolute;
}




 .four{
    height: 1350%;
    width: 100%;

    display: flex;
    justify-content: center;
    position: relative;
    justify-content: flex-start;
    
    
}
.content{
    position: absolute;
    top: 15%;
    left: 40%;
    text-align: center;
    text-decoration:red underline;
}
.wt{
    position: absolute;
    top: 18%;
    font-size: xx-large;
    left: 16%;
    
}
.wt .q1{
height:27vw ;
width:27vw ;
top: 17%;
   background-image: url(faq3@2x.png);
   background-size: cover;
}
.cv{
    position: absolute;
    width: 27vw;
    top: 34%;
    left:16% ;
    height:27vw ;
    font-size: xx-large;
    
}
.cv .q2{
   width: 27vw;
   top: 42;
   height:27vw ;
   background-image: url(faq4@2x.png);
   background-size: cover;
}
.how{
    position: absolute;
    top: 52%;
    left:16% ;
    font-size: xx-large;
    
}
.how .q3{
   width: 27vw;
   top: 50%;
   left:16% ;
   height:27vw ;
   background-image: url(faq5@2x.png);
   background-size: cover;
}
.inc{
    position: absolute;
    top: 67%;
    left:16% ;
    font-size: xx-large;
    
}
.inc .q4{
   width: 27vw;
   height:27vw ;
   background-image: url(faq6@2x.png);
   background-size: cover;
}

.why{
    position: absolute;
    top: 83%;
    font-size: xx-large;
    left:16% ;
    

}
.why .q5{
   width: 27vw;
   height:27vw ;
   background-image: url(faq0@2x.png);
   background-size: cover;

}

.an1{
    top: 21%;
    position: absolute;
    width: 40%;
    font-size: x-large;
    right: 6%;
    
}
.an2{
    top: 42%;
    position: absolute;
    width: 40%;
    font-size: x-large;
    right: 6%;
    
}
.an3{
    top: 57%;
    position: absolute;
    width: 40%;
    font-size: x-large;
    right: 6%;
}
.an4{
    top: 69%;
    position: absolute;
    width: 40%;
    font-size: x-large;
    right: 6%;
}
.an5{
    top: 85%;
    position: absolute;
    width: 40%;
    font-size: x-large;
    right: 6%;
}
.five{
    height: 200%;
    width: 100%;
    position: relative;
background-image: url();
background-size: cover;
}
.fb{
    display: flex;
    text-align: center;
    
    padding-top: 1%;
    width: 40%;
    margin-left: 25%;
    padding-left: 15%;
    padding-right: 15%;
justify-content: space-between;
}
.cu{
font-size: larger;
margin-left: 40%;
width: 10%;
padding-top: 1%;
}
.au{
    top: 0%;
    margin-top: 3%;
 width: 15%;
 margin-left: 37%;
    background-color: brown;
    margin-right: 70%;
    text-align: center;
    font-size: 1vw;
}
.a{
    height: 13%;
    width: 7%;
    left: 1%;
    
background-image: url(bg.png);
background-size: cover;
background-position: center;
padding-right: 30%;
}
.b{
    height: 13%;
    width: 30%;
    background-image: url(prd.jpeg);
    background-size: cover;
    position: absolute;
    padding-right: 32%;
    background-position: center;
    right: 36%;
}

.d{
    height: 13%;
    width: 33%;
    background-image: url(hit.png);
    position: absolute;
    background-size: cover;
    background-position: center;
    right: 1%;
    background-color: brown;
}
.icon{
    right: 0%;
    position: absolute;
}
.sm{
    text-align: center;
    font-size: 1vw;
    background-color: brown;
    margin-left: 32%;
    right: 0%;
 width: 25%;
    left: 35%;
    margin-top: 7%;
}
 
.foot{
    height: 500px;
    width: 500px;
    left: 67%;
    top: 620%;
    position: absolute;
    background-image: url(footer.2.png);
    background-size: cover;
}
.three{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}



  
  















#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
    
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190%;
    color: #fff;
 }
 #slides .slide_1 {
    background-color: #;
 }
 #slides .slide_2 {
    background: ;
 }
 #slides .slide_3 {
    background: ;
 }
 #slides .slide_4 {
    background: #;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 .slide-content .t1{
    border: black;
    width: 390px;
    height: 600px;
    border-color: black;
    padding-right: 1%;
    border-radius: 3%;
    background-image: url(fin.1.jpg);
    background-size: cover;
 }
 .slide-content .t2{
    border: black;
    width: 390px;
    height: 600px;
    border-color: black;
    border-radius: 3%;
    background-image: url(fin.6.png);
    background-size: cover;
 }
 .slide-content .t3{
    border: black;
    width: 390px;
    height: 600px;
    border-color: black;
    border-radius: 3%;
    background-image: url(fin.4.png);
    background-position: center;
    background-size: cover;
 }
 .slide-content .t4{
    width: 390px;
    height: 600px;
    border-color: black;
    border-radius: 3%;
    background-image: url(fin.9.png);
    background-size: cover;
 }
